
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.about-section {
    position: relative;
    height: 100vh;
    background: url('bgg.jpg') no-repeat center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    
}

.about-content {
    position: relative;
    text-align: center;
    padding: 40px 70px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 18px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    animation: fadeSlide 1.7s ease forwards;
    
}

.about-content h1 {
    font-size: 56px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 12px;
}

.about-content p {
    color: #e5e5e5;
    font-size: 20px;
    letter-spacing: 1px;
}

.about-content:hover {
    box-shadow: 0 0 35px rgba(255, 255, 255, 0.4);
    transition: 0.4s ease;
}

.story-section {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 60px;
    padding: 80px 10%;
    position: relative;
    animation: fadeIn 1.5s ease forwards;
}

.story-left {
    flex: 1;
}

.image-wrapper {
    position: relative;
    border-radius: 25px;
    overflow: hidden;
    box-shadow: 0 20px 60px rgba(0,0,0,0.15);
    transform: translateX(-40px);
    animation: slideLeft 1.2s ease forwards;
   
}

.image-wrapper img {
    width: 100%;
    display: block;
    border-radius: 25px;
}

.play-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80px;
    height: 80px;
    background: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    cursor: pointer;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
    transition: 0.3s ease;
}

.play-btn:hover {
    transform: translate(-50%, -50%) scale(1.15);
}

.story-right {
    flex: 1.2;
    animation: slideRight 1.2s ease forwards;
    
}

.story-right h2 {
    font-size: 42px;
    font-weight: 700;
}

.red-line {
    width: 60px;
    height: 4px;
    background: linear-gradient(to right, #2e5f5c);
    margin: 12px 0 25px 0;
    border-radius: 5px;
}

.text {
    color: #555;
    margin-bottom: 20px;
    line-height: 1.6;
}

.quote-box {
    background: rgba(202, 201, 201, 0.7);
    padding: 18px 25px;
    border-left: 4px solid #2e5f5c;
    border-radius: 10px;
    font-weight: 600;
    margin: 25px 0;
    box-shadow: 0 10px 30px rgba(0,0,0,0.06);
    backdrop-filter: blur(5px);
}



.head {
    margin:20px;
  text-align: center;
  padding: 2rem 1rem;
  background-color: #cacfd4;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  transition: box-shadow 0.3s ease;
}

.head:hover {
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}

.features {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  padding: 2rem;
}

.feature-card {
  background: #e7e1e1;
  border-radius: 12px;
  padding: 1.5rem;
  width: 280px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  transition: transform 0.4s ease, box-shadow 0.4s ease;
}

.feature-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}

.icon {
  font-size: 50px;
  margin-bottom: 10px;
  transition: transform 0.3s ease;
}

.feature-card:hover .icon {
  transform: scale(1.2);
}

h1 {
  font-size: 50px;
  margin-bottom: 30px;
}

h2 {
  font-size: 20px;
  margin-bottom: 10px;
  color: #316278;
}

p {
  font-size: 15px;
  line-height: 1.5;
}


.footer {
  background-color: #1a1a1a;
  padding: 2rem;
  color: #fff;
}

.stats {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
  margin-bottom: 30px;
  font-size: 20px;
  gap: 25px;
}

.stat {
  background: #c8c4c4;
  padding: 10px;
  border-radius: 8px;
  transition: transform 0.3s ease;
  color: #1a1a1a;
}

.stat:hover {
  transform: scale(1.05);
}

.count {
  font-size: 40px;
  color: #07a3a3;
  font-weight: bold;
  display: block;
}

.footer-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
  margin-bottom: 20px;
}

.footer-column h3 {
  color: #07a3a3;;
  margin-bottom: 20px;
}

.footer-column ul {
  list-style: none;
  padding: 0;
}

.footer-column ul li {
  margin: 0.5rem 0;
}

.footer-column ul li a {
  color: #bebaba;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-column ul li a:hover {
  color: #fff;
}

.social-icons a {
  font-size: 20px;
  margin-right: 10px;
  text-decoration: none;
  transition: transform 0.3s ease;
}

.social-icons a:hover {
  transform: scale(1.2);
}

.footer-bottom {
  text-align: center;
  font-size: 0.9rem;
  border-top: 1px solid #333;
  padding-top: 1rem;
}

.footer-bottom a {
  color: #07a3a3;;
  text-decoration: none;
  margin: 10px;
}