 * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: Arial, sans-serif;
    }

    body {
      background-color: #f5f5f5;
    }

    .navbar {
      width: 100%;
      padding: 18px 50px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background: rgb(217, 222, 222);
      position: fixed;
      top: 0;
      left: 0;
      z-index: 1000;
      box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    }

    .logo {
      color: #7a45a2;
      font-size: 28px;
      font-weight: bold;
    }

    .nav {
      display: flex;
      gap: 30px;
    }

    .nav a {
      text-decoration: none;
      color: #222;
      font-size: 17px;
      font-weight: 600;
      transition: 0.3s;
    }

    .nav a:hover {
      color: #7a45a2;
    }

    .contact-btn {
      background: #7a45a2;
      padding: 10px 18px;
      color: white;
      text-decoration: none;
      border-radius: 4px;
      font-weight: bold;
    }

    .hero {
      position: relative;
      width: 100%;
      height: 95vh;
      background: url('https://images.unsplash.com/photo-1570129477492-45c003edd2be?auto=format&fit=crop&w=1600&q=80') center/cover;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .one {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.55);
    }

    .hero1 {
      position: relative;
      color: white;
      max-width: 650px;
      padding: 20px;
    }

    .hero1 h1 {
      font-size: 60px;
      font-weight: 800;
      line-height: 1.2;
    }

    .hero1 p {
      margin-top: 15px;
      font-size: 18px;
      line-height: 1.6;
      opacity: 0.9;
    }

    .btn-group {
      margin-top: 25px;
      display: flex;
      gap: 15px;
    }

    .btn {
      padding: 12px 22px;
      border: none;
      cursor: pointer;
      font-size: 16px;
      font-weight: bold;
      border-radius: 4px;
      transition: 0.3s;
    }

    .first-btn {
      background: transparent;
      color: white;
      border: 2px solid white;
    }

    .first-btn:hover {
      background: #7a45a2;
      color: #222;
    }

    .second-btn {
      background: transparent;
      color: white;
      border: 2px solid white;
    }

    .second-btn:hover {
      background: white;
      color: #222;
    }

   
    .two {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 80px;
      background: linear-gradient(to top, #1d5e28, transparent);
    }

 .section {
display: grid;
grid-template-columns: 1.2fr 1fr;
align-items: center;
gap: 40px;
}

.image-grid {
display: grid;
grid-template-columns: repeat(2, 350px);
gap: 20px;
margin:20px;
}

.image-grid img {
width: 100%;
border-radius: 20px;
height: 260px;
object-fit: cover;
box-shadow: 0 4px 18px rgba(0,0,0,0.15);
transition: transform 0.3s ease;
}
.image-grid img:hover {
transform: scale(1.03);
}
.content {
padding-right: 50px;
margin-right:40px;
}

.sub-head {
letter-spacing: 3px;
font-size: 20px;
font-weight: bold;
color: #7a45a2;
margin-bottom: 10px;
text-transform: uppercase;
}

.main-head {
font-size: 42px;
font-weight: 800;
margin-bottom: 20px;
}

.section1 {
display: flex;
gap: 25px;
margin:15px;
}
.description{
    text-align: justify;
    padding:10px;
}

.card {
background: rgb(214, 224, 224);
flex: 1;
padding: 25px;
border-radius: 16px;
box-shadow: 0 4px 18px rgba(0,0,0,0.08);
border-left: 4px solid #7a45a2;
transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.style{
    font-size:40px;
}

.card:hover {
transform: translateY(-6px);
box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}


.card h3 {
font-size: 20px;
font-weight: bold;
color:#7a45a2;
margin-top: 10px;
margin-bottom: 10px;
}


.card p {
color: #666;
line-height: 1.5;
font-size: 15px;
}


    .services-section {
      width: 90%;
      margin: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 40px;
      text-align: center;
    }


    .service-card {
      flex: 1;
      background: #fff;
      padding: 40px 20px;
      border-radius: 12px;
      border-style: solid rgb(39, 83, 104);
      transition: 0.4s ease;
      cursor: pointer;
    }

    .service-card img {
      width: 70px;
      margin-bottom: 20px;
      transition: transform 0.4s ease;
    }

    .service-card h2 {
      font-size: 24px;
      margin-bottom: 15px;
    }

    .service-card p {
      color: #555;
      font-size: 15px;
      line-height: 1.5;
    }

    .service-card.center {
      background: #d99bec;
      color: rgb(0, 0, 0);
      box-shadow: 0 12px 25px rgba(0, 0, 0, 0.15);
      transform: scale(1.04);
    }

    .service-card.center p {
      color: rgb(0, 0, 0);
    }


    .service-card:hover {
      transform: translateY(-10px);
      box-shadow: 0 12px 25px rgba(0, 0, 0, 0.15);
    }

    .service-card:hover img {
      transform: scale(1.15);
    }
.heros {
    height: 100vh;
    width: 100%;
    background: url('https://images.unsplash.com/photo-1570129477492-45c003edd2be?auto=format&fit=crop&w=1600&q=80')center/cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.ones {
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,0.55);
}

.contents {
    position: relative;
    max-width: 900px;
    padding: 0 20px;
    
}


.sub-titless {
    font-size: 18px;
    letter-spacing: 4px;
    margin-bottom: 15px;
    color: #ddd;
    animation: fade 1.6s ease-in-out;
}

h1 {
    color:#ffffff;
    font-size: 48px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 20px;

}
h2{
    color:#174f63;
    font-size: 48px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 20px;  
}
.heading{
     color:#ffffff;
    font-size: 48px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 20px;
}

.descriptions {
    font-size: 18px;
    line-height: 1.7;
    color: #e1e1e1;
    margin-bottom: 35px;

}

.btns {
    display: inline-block;
    padding: 15px 35px;
    background: #7a45a2;
    color: #fff;
    text-decoration: none;
    border-radius: 6px;
    font-size: 18px;
    font-weight: 600;

    transition: 0.3s ease;
}

.btns:hover {
    background: #7a45a2;
    transform: scale(1.08);
    box-shadow: 0 0 20px rgba(187, 131, 239, 0.6);
}



.why-section {
    padding: 80px;
    display: flex;
    justify-content: space-between;
    gap: 60px;
}

.why-left {
    width: 35%;
}

.why-left h4 {
    letter-spacing: 3px;
    color: #9c48c9;
    font-size: 15px;
}

.why-left h2 {
    font-size: 45px;
    margin: 15px 0;
    color: #0d4f5c;
}

.why-left p {
    font-size: 17px;
    color: #444;
    line-height: 1.7em;
}

.why-right {
    width: 60%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 35px;
}

.circle-card {
    text-align: center;
    transition: 0.4s;
    
}

.circle-card:nth-child(1) { animation-delay: 0.1s; }
.circle-card:nth-child(2) { animation-delay: 0.2s; }
.circle-card:nth-child(3) { animation-delay: 0.3s; }
.circle-card:nth-child(4) { animation-delay: 0.4s; }
.circle-card:nth-child(5) { animation-delay: 0.5s; }

.circle-card:hover {
    transform: translateY(-6px);
}

.circle {
    width: 120px;
    height: 120px;
    margin: auto;
    border-radius: 50%;
    background: conic-gradient(#46acc2 0deg, #b1d2ec 0deg);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: 0.5s ease;
    box-shadow: 0 0 20px rgba(70, 172, 194, 0.4);
}

.circle:hover {
    box-shadow: 0 0 35px rgba(70, 172, 194, 0.8);
    transform: scale(1.06);
}

.circle span {
    background: #fff;
    width: 85px;
    height: 85px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 22px;
    color: #0f4e5a;
    position: absolute;
}

.circle-card h3 {
    margin-top: 18px;
    font-size: 18px;
    color: #0f4e5a;
}



.listings {
    background-color: #ddd;
  text-align: center;
  padding: 80px 10%;
 
}
.listings h2 {
  font-size: 40px;
  font-weight: 700;
  color: #2f5455;
  
}

.listings .underline {
  height: 4px;
  width: 120px;
  background: #7a45a2;
  margin: 10px auto 40px;
  border-radius: 5px;
}

.listing-container {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
}

.listing-card {
  width: 360px;
  background: #fff;
  border-radius: 14px;
  overflow: hidden;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
  transition: all 0.4s ease;
}

.listing-card:hover {
  transform: translateY(-12px);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.15);
}

.img-box {
  position: relative;
  overflow: hidden;
}

.img-box img {
  width: 100%;
  transition: transform 0.5s ease;
}

.listing-card:hover .img-box img {
  transform: scale(1.1);
}

.badge {
  position: absolute;
  left: 20px;
  top: 20px;
  background: #fff;
  padding: 7px 14px;
  font-size: 14px;
  font-weight: 600;
  border-radius: 6px;
  box-shadow: 0 3px 8px rgba(0,0,0,0.12);
}

.content {
  padding: 25px;
  align-items: center;
  margin:20px;
}

.location {
  color: #7a45a2;
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 5px;
}

h3 {
  font-size: 22px;
  margin: 5px 0 12px;
  font-weight: 700;
  color: #000;
  text-decoration: underline;
}

.desc {
  color: #555;
  font-size: 14px;
  margin-bottom: 25px;
}

.btn {
  background: #7a45a2;
  color: #fff;
  padding: 10px 22px;
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
  border-radius: 6px;
  transition: background 0.3s ease;
}

.btn:hover {
  background: #457ea2;
}
.why-section1 {
  display: flex;
  justify-content: space-between;
  padding: 80px 8%;
  gap: 50px;
  align-items: flex-start;
}

.left-box1 {
  flex: 1;
    color: #8649b8;
}

.sub-titles1 {
  color: #8649b8;
  font-size: 14px;
  letter-spacing: 2px;
  margin-bottom: 10px;
  font-weight: 700;
}

.main-title1 {
  font-size: 36px;
  color: #174f63;
  margin-bottom: 40px;
  line-height: 1.3;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px;
}

.grid-card {
  background: #fff;
  border-radius: 14px;
  padding: 25px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.08);
  border: 2px solid transparent;
  cursor: pointer;
  transition: all 0.35s ease;
}

.grid-card:hover {
  transform: translateY(-10px);
  border-color: #6aaaaa;
  box-shadow: 0 15px 40px rgba(0,0,0,0.15);
}



.grid-card h4 {
  font-size: 18px;
  margin-bottom: 10px;
  font-weight: 700;
}

.grid-card p {
  font-size: 14px;
  color: #666;
}


.right-box1 {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.trust-card {
  background: linear-gradient(145deg, #ffffff, #c6e8f5);
  padding: 30px;
  border-radius: 18px;
  box-shadow: 0 10px 30px rgba(255, 100, 100, 0.15);
  animation: fadeSlide 0.9s ease forwards;
}



.trust-card h2 {
  font-size: 28px;
  margin: 10px 0 20px;
}

.trust-card span {
  color: #925fbe;
}

.trust-desc {
  color: #555;
  line-height: 1.6;
  font-size: 15px;
  margin-bottom: 20px;
}

.trust-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.trust-tags span {
  padding: 10px 15px;
  background: #fff;
  border-radius: 10px;
  border: 1px solid #125455;
  font-size: 14px;
  color: #444;
  transition: background 0.3s ease;
}

.trust-tags span:hover {
  background: #c6b2e1;
}


.trust-image-box {
  overflow: hidden;
  border-radius: 16px;
  animation: fadeSlide 1s ease forwards;
}

.trust-image-box img {
  width: 100%;
  border-radius: 16px;
  transition: transform 0.5s ease;
}

.trust-image-box:hover img {
  transform: scale(1.05);
}
.achievements {
    position: relative;
    background: url("bg1.jpg") center/cover no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px;
    color: #fff;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.55);
    backdrop-filter: blur(2px);
}

.contentt {
    position: relative;
    max-width: 1200px;
    text-align: center;
    animation: fadeIn 1s ease forwards;
}

.titles {
    font-size: 60px;
    font-weight: 700;
    margin-bottom: 50px;
    animation: slideDown 1s ease forwards;
}

.subtitlee {
    font-size: 20px;
    max-width: 800px;
    margin:  50px;
   
}

.stats-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px; 
    
}

.stat-box {
    flex: 1;                
    max-width: 250px;       
    padding: 25px 20px;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    text-align: center;
}


.stat-box h2 {
    font-size: 50px;
    margin-bottom: 30px;
}

.stat-box p {
    font-size: 15px;
   
}

.stat-box:hover {
    transform: translateY(-10px) scale(1.05);
    background: rgba(255,255,255,0.15);
}


.unique-test{
    padding: 80px 6%;
    background: #101010;
    text-align: center;
    color: white;
    position: relative;
    overflow: hidden;
}

.ut-title {
    font-size: 46px;
    font-weight: 700;
}

.ut-subtitle {

    margin-bottom: 60px;
}


.ut-wrapper {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.ut-card {
    width: 100%;
    padding: 0;
    border-radius: 22px;
    background: linear-gradient(135deg, #181818 60%, #2a2a2a 100%);
    position: relative;
    overflow: hidden;
    transition: 0.4s ease;
    transform-style: preserve-3d;
    cursor: pointer;
}

.ut-card::before {
    content: "";
    position: absolute;
    top: 0;
    right: -40%;
    width: 70%;
    height: 100%;
    background: rgba(255, 80, 100, 0.15);
    transform: skewX(-25deg);
    transition: 0.4s ease;
}

.highlight {
    border: 1px solid rgba(255, 100, 120, 0.4);
    box-shadow: 0 0 25px rgba(255, 80, 120, 0.25);
}

.highlight::before {
    background: rgba(255, 60, 90, 0.3);
}

.ut-card.left {
    align-self: flex-start;
    width: 75%;
}

.ut-card.right {
    align-self: flex-end;
    width: 75%;
}

.ut-content {
    padding: 40px;
    text-align: left;
    position: relative;
}

.ut-content p {
    line-height: 1.7;
    font-size: 18px;
}

.ut-user {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 25px;
}

.ut-user img {
    width: 55px;
    height: 35px;
    border-radius: 50%;
    border: 2px solid white;
}

.ut-user h4 {
    margin: 0;
    font-size: 18px;
}

.ut-user span {
    font-size: 14px;
}

.unique-test {
    padding: 80px 6%;
    background: #101010;
    text-align: center;
    color: white;
    position: relative;
    overflow: hidden;
}

.ut-title {
    font-size: 46px;
    font-weight: 800;
    color: #fff;
}

.ut-subtitle {
    margin-bottom: 60px;
}

.ut-wrapper {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.ut-card {
    width: 100%;
    padding: 0;
    border-radius: 22px;
    background: linear-gradient(135deg, #181818 60%, #2a2a2a 100%);
    position: relative;
    overflow: hidden;
    transition: 0.4s ease;
    transform-style: preserve-3d;
    cursor: pointer;
}

.ut-card::before {
    content: "";
    position: absolute;
    top: 0;
    right: -40%;
    width: 70%;
    height: 100%;
    background: rgba(60, 213, 255, 0.45);
    transform: skewX(-25deg);
    transition: 0.4s ease;
}

.highlight {
    border: 1px solid rgba(60, 213, 255, 0.45);
    box-shadow: 0 0 25px rgba(60, 213, 255, 0.45);
}

.highlight::before {
    background: rgba(60, 213, 255, 0.45);
}

.ut-card.left {
    align-self: flex-start;
    width: 75%;
}

.ut-card.right {
    align-self: flex-end;
    width: 75%;
}

.ut-content {
    padding: 40px;
    text-align: left;
    position: relative;
}

.ut-content p {
    line-height: 1.7;
    font-size: 18px;
}

.ut-user {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 25px;
}

.ut-user img {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border: 2px solid white;
}

.ut-user h4 {
    margin: 0;
    font-size: 18px;
}

.ut-user span {
    font-size: 14px;
}

.ut-card:hover {
    transform: translateY(-10px) rotateX(6deg) rotateY(6deg);
}

.ut-card:hover::before {
    right: -20%;
    background: rgba(60, 213, 255, 0.45);
}



.ut-card:hover::before {
    right: -20%;
    background: rgba(60, 213, 255, 0.45);
}


.footer {
    background: #0d0d0d;
    padding: 70px 60px 40px;
    color: #ccc;
}

.footer-container {
    display: grid;
    grid-template-columns: repeat(4, 300px);
    gap: 60px;
}


.footer-column h3 {
    font-size: 17px;
    color: #316d72;
    letter-spacing: 1px;
    margin-bottom: 20px;
    position: relative;
}

.footer-column h3::after {
    content: "";
    position: absolute;
    bottom: -6px;
    left: 0;
    width: 40px;
    height: 2px;
    background: #316d72;
    transition: 0.4s;
}

.footer-column h3:hover::after {
    width: 70px;
    box-shadow: 0 0 10px #316d72;
}

.footer-column p {
    line-height: 1.7;
    font-size: 14px;
}

.footer-column ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-column ul li {
    margin-bottom: 12px;
    font-size: 14px;
    opacity: 0.8;
    transition: 0.3s ease;
}

.footer-column ul li:hover {
    opacity: 1;
    transform: translateX(6px);
}


.footer-column ul li a {
    color: #e0e0e0;
    text-decoration: none;
    position: relative;
}
.footer-column ul li a::after {
    content: "";
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 2px;
    background: #316d72;
    transition: 0.3s;
}

.footer-column ul li a:hover::after {
    width: 100%;
}

.footer-bottom {
    text-align: center;
    margin-top: 40px;
    padding-top: 25px;
    border-top: 1px solid #333;
    font-size: 13px;
}

.footer-bottom a {
    color: #316d72;
    text-decoration: none;
    margin: 0 5px;
    transition: 0.3s;
}



